<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.tms.dao.tsworklaceEntity.TsWorkPlaceDao">
    <!-- 条件查询 -->
    <sql id="findTsWorkPlacesWhere">
        from tms_ts_work_place t0
                <where>
            <if test="filters!=null">
                                    <if test="filters.Eid!=null">
                        <if test="filterTypes.Eid=='单值'">
                                                        
                                AND t0.eid = #{filters.Eid}

                                                    </if>
                        <if test="filterTypes.Eid=='模糊'">

                            AND t0.eid LIKE  '%${filters.Eid}%'

                        </if>
                        <if test="filterTypes.Eid=='数组'">
                                                                                        AND t0.eid in
                                <foreach collection="filters.Eid" item="item" index="index" open="(" separator="," close=")">
                                    #{item}
                                </foreach>
                                                    </if>
                    </if>
                                    <if test="filters.creatorName!=null">
                        <if test="filterTypes.creatorName=='单值'">
                            
                                AND t0.creator_name LIKE  '%${filters.creatorName}%'

                                                                                </if>
                        <if test="filterTypes.creatorName=='模糊'">

                            AND t0.creator_name LIKE  '%${filters.creatorName}%'

                        </if>
                        <if test="filterTypes.creatorName=='数组'">
                                                            AND t0.creator_name in
                                <foreach collection="filters.creatorName" item="item" index="index" open="(" separator="," close=")">
                                    '#{item}'
                                </foreach>

                                                                                </if>
                    </if>
                                    <if test="filters.name!=null">
                        <if test="filterTypes.name=='单值'">
                            
                                AND t0.name LIKE  '%${filters.name}%'

                                                                                </if>
                        <if test="filterTypes.name=='模糊'">

                            AND t0.name LIKE  '%${filters.name}%'

                        </if>
                        <if test="filterTypes.name=='数组'">
                                                            AND t0.name in
                                <foreach collection="filters.name" item="item" index="index" open="(" separator="," close=")">
                                    '#{item}'
                                </foreach>

                                                                                </if>
                    </if>
                                    <if test="filters.address!=null">
                        <if test="filterTypes.address=='单值'">
                            
                                AND t0.address LIKE  '%${filters.address}%'

                                                                                </if>
                        <if test="filterTypes.address=='模糊'">

                            AND t0.address LIKE  '%${filters.address}%'

                        </if>
                        <if test="filterTypes.address=='数组'">
                                                            AND t0.address in
                                <foreach collection="filters.address" item="item" index="index" open="(" separator="," close=")">
                                    '#{item}'
                                </foreach>

                                                                                </if>
                    </if>
                                    <if test="filters.status!=null">
                        <if test="filterTypes.status=='单值'">
                            
                                AND t0.status LIKE  '%${filters.status}%'

                                                                                </if>
                        <if test="filterTypes.status=='模糊'">

                            AND t0.status LIKE  '%${filters.status}%'

                        </if>
                        <if test="filterTypes.status=='数组'">
                                                            AND t0.status in
                                <foreach collection="filters.status" item="item" index="index" open="(" separator="," close=")">
                                    '#{item}'
                                </foreach>

                                                                                </if>
                    </if>
                                    <if test="filters.creatorId!=null">
                        <if test="filterTypes.creatorId=='单值'">
                                                        
                                AND t0.creator_id = #{filters.creatorId}

                                                    </if>
                        <if test="filterTypes.creatorId=='模糊'">

                            AND t0.creator_id LIKE  '%${filters.creatorId}%'

                        </if>
                        <if test="filterTypes.creatorId=='数组'">
                                                                                        AND t0.creator_id in
                                <foreach collection="filters.creatorId" item="item" index="index" open="(" separator="," close=")">
                                    #{item}
                                </foreach>
                                                    </if>
                    </if>
                                    <if test="filters.remark!=null">
                        <if test="filterTypes.remark=='单值'">
                            
                                AND t0.remark LIKE  '%${filters.remark}%'

                                                                                </if>
                        <if test="filterTypes.remark=='模糊'">

                            AND t0.remark LIKE  '%${filters.remark}%'

                        </if>
                        <if test="filterTypes.remark=='数组'">
                                                            AND t0.remark in
                                <foreach collection="filters.remark" item="item" index="index" open="(" separator="," close=")">
                                    '#{item}'
                                </foreach>

                                                                                </if>
                    </if>
                                    <if test="filters.createDatetime!=null">
                        <if test="filterTypes.createDatetime=='单值'">
                                                                                </if>
                        <if test="filterTypes.createDatetime=='模糊'">

                            AND t0.create_datetime LIKE  '%${filters.createDatetime}%'

                        </if>
                        <if test="filterTypes.createDatetime=='数组'">
                                                                                </if>
                    </if>
                            </if>
        </where>
    </sql>


    <!-- 根据分页参数查询数据集合 -->
    <select id="findTsWorkPlaces" resultType="com.mt.tms.entity.tsworklaceEntity.TsWorkPlace" parameterType="com.mt.common.core.web.base.PageDTO">
        select
            t0.eid  ,
            t0.creator_name  ,
            t0.name  ,
            t0.address  ,
            t0.status  ,
            t0.creator_id  ,
            t0.remark  ,
            t0.create_datetime  
        
        <include refid="findTsWorkPlacesWhere"></include>

        <if test="orderBys!=null">
            <foreach collection="orderBys" item="item" index="index" open="order by" separator="," close="">
                ${item}
            </foreach>
        </if>
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 根据分页参数查询数据集合总条数 -->
    <select id="findTsWorkPlaceTotalCount" resultType="java.lang.Long" parameterType="com.mt.common.core.web.base.PageDTO">
        select count(t0.eid) as totalCount
        <include refid="findTsWorkPlacesWhere"></include>
    </select>

    <!-- 根据查询所有数据集合 -->
    <select id="findAllTsWorkPlaces" resultType="com.mt.tms.entity.tsworklaceEntity.TsWorkPlace" >
        select
                    t0.eid  ,
                    t0.creator_name  ,
                    t0.name  ,
                    t0.address  ,
                    t0.status  ,
                    t0.creator_id  ,
                    t0.remark  ,
                    t0.create_datetime  
                        from tms_ts_work_place t0
                ORDER BY t0.create_datetime
    </select>

    <!-- 根据名称查询数据集合,只提取ID 和 Name -->
    <select id="findTsWorkPlacesWithIdNameByName" resultType="com.mt.tms.entity.tsworklaceEntity.TsWorkPlace" parameterType="java.lang.String">
        select
            t0.eid,t0.name
        from tms_ts_work_place t0
        where t0.name like  '%${tsWorkPlaceName}%'
        ORDER BY t0.name
    </select>


    <!-- 查询所有数据集合,只提取ID 和 Name -->
    <select id="findAllTsWorkPlacesWithIdName" resultType="com.mt.tms.entity.tsworklaceEntity.TsWorkPlace" >
        select
        t0.eid,t0.name
        from tms_ts_work_place t0
        ORDER BY t0.name
    </select>

    <!-- 查询指定的实体,只提取ID 和 Name -->
    <select id="findTsWorkPlacesWithIdNameById" resultType="com.mt.tms.entity.tsworklaceEntity.TsWorkPlace" parameterType="java.lang.Long">
        select
        t0.eid,t0.name
        from tms_ts_work_place t0
        where eid = #{tsWorkPlaceId}
    </select>

    <!--  根据Id查询 -->
    <select id="findTsWorkPlace" resultType="com.mt.tms.entity.tsworklaceEntity.TsWorkPlace" parameterType="java.lang.Long">
        select * from tms_ts_work_place where eid = #{tsWorkPlaceId}
    </select>

    <!-- 根据ID查询指定的实体(包含外键) -->
    <select id="findTsWorkPlaceWithForeignName" resultType="com.mt.tms.entity.tsworklaceEntity.TsWorkPlace" parameterType="java.lang.Long">
        select
                    t0.eid  ,
                    t0.creator_name  ,
                    t0.name  ,
                    t0.address  ,
                    t0.status  ,
                    t0.creator_id  ,
                    t0.remark  ,
                    t0.create_datetime  
                        from tms_ts_work_place t0
                where t0.eid = #{tsWorkPlaceId}
    </select>


    <!--  保存 -->
    <insert id="saveTsWorkPlace" parameterType="com.mt.tms.entity.tsworklaceEntity.TsWorkPlace" useGeneratedKeys="true">
        <selectKey keyProperty="eid" order="AFTER" resultType="java.lang.Long" >
            select LAST_INSERT_ID()
        </selectKey>
        insert into tms_ts_work_place
        (
                                                        creator_name ,
                                                name ,
                                                address ,
                                                status ,
                                                creator_id ,
                                                remark ,
                                                create_datetime 
                            )
        values
        (
                                                        #{creatorName} ,
                                                #{name} ,
                                                #{address} ,
                                                #{status} ,
                                                #{creatorId} ,
                                                #{remark} ,
                                                #{createDatetime} 
                            )
    </insert>

    <!--  编辑 -->
    <update id="updateTsWorkPlace" parameterType="com.mt.tms.entity.tsworklaceEntity.TsWorkPlace" >
        update tms_ts_work_place set
                                                        creator_name = #{creatorName} ,
                                                name = #{name} ,
                                                address = #{address} ,
                                                status = #{status} ,
                                                creator_id = #{creatorId} ,
                                                remark = #{remark} ,
                                                create_datetime = #{createDatetime} 
                            where eid=#{eid}
    </update>


    <!--  根据Id删除 -->
    <delete id="deleteTsWorkPlace"  parameterType="java.lang.Long">
        delete from tms_ts_work_place where eid = #{tsWorkPlaceId}
    </delete>


</mapper>
