<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mt.ams.dao.instructorEntity.InstructorDao">
    <!-- 条件查询 -->
    <sql id="findInstructorsWhere">
        from ams_instructor t0
        LEFT JOIN ams_teacher_info t4 on t0.teacher_id =t4.eid
        LEFT JOIN ams_award t5 on t0.award_id =t5.eid
        <where>
            <if test="filters!=null">
                <if test="filters.Eid!=null">
                    <if test="filterTypes.Eid=='单值'">

                        AND t0.eid = #{filters.Eid}

                    </if>
                    <if test="filterTypes.Eid=='模糊'">

                        AND t0.eid LIKE '%${filters.Eid}%'

                    </if>
                    <if test="filterTypes.Eid=='数组'">
                        AND t0.eid in
                        <foreach collection="filters.Eid" item="item" index="index" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>
                </if>
                <if test="filters.creatorName!=null">
                    <if test="filterTypes.creatorName=='单值'">

                        AND t0.creator_name LIKE '%${filters.creatorName}%'

                    </if>
                    <if test="filterTypes.creatorName=='模糊'">

                        AND t0.creator_name LIKE '%${filters.creatorName}%'

                    </if>
                    <if test="filterTypes.creatorName=='数组'">
                        AND t0.creator_name in
                        <foreach collection="filters.creatorName" item="item" index="index" open="(" separator=","
                                 close=")">
                            '#{item}'
                        </foreach>

                    </if>
                </if>
                <if test="filters.name!=null">
                    <if test="filterTypes.name=='单值'">

                        AND t0.name LIKE '%${filters.name}%'

                    </if>
                    <if test="filterTypes.name=='模糊'">

                        AND t0.name LIKE '%${filters.name}%'

                    </if>
                    <if test="filterTypes.name=='数组'">
                        AND t0.name in
                        <foreach collection="filters.name" item="item" index="index" open="(" separator="," close=")">
                            '#{item}'
                        </foreach>

                    </if>
                </if>
                <if test="filters.displayIndex!=null">
                    <if test="filterTypes.displayIndex=='单值'">

                        AND t0.display_index = #{filters.displayIndex}

                    </if>
                    <if test="filterTypes.displayIndex=='模糊'">

                        AND t0.display_index LIKE '%${filters.displayIndex}%'

                    </if>
                    <if test="filterTypes.displayIndex=='数组'">
                        AND t0.display_index in
                        <foreach collection="filters.displayIndex" item="item" index="index" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                </if>
                <if test="filters.teacherId!=null">
                    <if test="filterTypes.teacherId=='单值'">

                        AND t0.teacher_id = #{filters.teacherId}

                    </if>
                    <if test="filterTypes.teacherId=='模糊'">

                        AND t0.teacher_id LIKE '%${filters.teacherId}%'

                    </if>
                    <if test="filterTypes.teacherId=='数组'">
                        AND t0.teacher_id in
                        <foreach collection="filters.teacherId" item="item" index="index" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                </if>
                <if test="filters.awardId!=null">
                    <if test="filterTypes.awardId=='单值'">

                        AND t0.award_id = #{filters.awardId}

                    </if>
                    <if test="filterTypes.awardId=='模糊'">

                        AND t0.award_id LIKE '%${filters.awardId}%'

                    </if>
                    <if test="filterTypes.awardId=='数组'">
                        AND t0.award_id in
                        <foreach collection="filters.awardId" item="item" index="index" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                </if>
                <if test="filters.status!=null">
                    <if test="filterTypes.status=='单值'">

                        AND t0.status LIKE '%${filters.status}%'

                    </if>
                    <if test="filterTypes.status=='模糊'">

                        AND t0.status LIKE '%${filters.status}%'

                    </if>
                    <if test="filterTypes.status=='数组'">
                        AND t0.status in
                        <foreach collection="filters.status" item="item" index="index" open="(" separator="," close=")">
                            '#{item}'
                        </foreach>

                    </if>
                </if>
                <if test="filters.creatorId!=null">
                    <if test="filterTypes.creatorId=='单值'">

                        AND t0.creator_id = #{filters.creatorId}

                    </if>
                    <if test="filterTypes.creatorId=='模糊'">

                        AND t0.creator_id LIKE '%${filters.creatorId}%'

                    </if>
                    <if test="filterTypes.creatorId=='数组'">
                        AND t0.creator_id in
                        <foreach collection="filters.creatorId" item="item" index="index" open="(" separator=","
                                 close=")">
                            #{item}
                        </foreach>
                    </if>
                </if>
                <if test="filters.remark!=null">
                    <if test="filterTypes.remark=='单值'">

                        AND t0.remark LIKE '%${filters.remark}%'

                    </if>
                    <if test="filterTypes.remark=='模糊'">

                        AND t0.remark LIKE '%${filters.remark}%'

                    </if>
                    <if test="filterTypes.remark=='数组'">
                        AND t0.remark in
                        <foreach collection="filters.remark" item="item" index="index" open="(" separator="," close=")">
                            '#{item}'
                        </foreach>

                    </if>
                </if>
                <if test="filters.createDatetime!=null">
                    <if test="filterTypes.createDatetime=='单值'">
                    </if>
                    <if test="filterTypes.createDatetime=='模糊'">

                        AND t0.create_datetime LIKE '%${filters.createDatetime}%'

                    </if>
                    <if test="filterTypes.createDatetime=='数组'">
                    </if>
                </if>
            </if>
        </where>
    </sql>


    <!-- 根据分页参数查询数据集合 -->
    <select id="findInstructors" resultType="com.mt.ams.entity.instructorEntity.Instructor"
            parameterType="com.mt.common.core.web.base.PageDTO">
        select
        t0.eid ,
        t0.creator_name ,
        t0.name ,
        t0.display_index ,
        t0.teacher_id ,
        t0.award_id ,
        t0.status ,
        t0.creator_id ,
        t0.remark ,
        t0.create_datetime
        ,t4.name as teacher_name

        ,t5.name as award_name


        <include refid="findInstructorsWhere"></include>

        <if test="orderBys!=null">
            <foreach collection="orderBys" item="item" index="index" open="order by" separator="," close="">
                ${item}
            </foreach>
        </if>
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 根据分页参数查询数据集合总条数 -->
    <select id="findInstructorTotalCount" resultType="java.lang.Long"
            parameterType="com.mt.common.core.web.base.PageDTO">
        select count(t0.eid) as totalCount
        <include refid="findInstructorsWhere"></include>
    </select>

    <!-- 根据查询所有数据集合 -->
    <select id="findAllInstructors" resultType="com.mt.ams.entity.instructorEntity.Instructor">
        select t0.eid,
               t0.creator_name,
               t0.name,
               t0.display_index,
               t0.teacher_id,
               t0.award_id,
               t0.status,
               t0.creator_id,
               t0.remark,
               t0.create_datetime
                ,
               t4.name as teacher_name
                ,
               t5.name as award_name

        from ams_instructor t0
                 LEFT JOIN ams_teacher_info t4 on t0.teacher_id = t4.eid
                 LEFT JOIN ams_award t5 on t0.award_id = t5.eid
        ORDER BY t0.create_datetime
    </select>

    <!-- 根据名称查询数据集合,只提取ID 和 Name -->
    <select id="findInstructorsWithIdNameByName" resultType="com.mt.ams.entity.instructorEntity.Instructor"
            parameterType="java.lang.String">
        select t0.eid,
               t0.name
        from ams_instructor t0
        where t0.name like '%${instructorName}%'
        ORDER BY t0.name
    </select>


    <!-- 查询所有数据集合,只提取ID 和 Name -->
    <select id="findAllInstructorsWithIdName" resultType="com.mt.ams.entity.instructorEntity.Instructor">
        select t0.eid,
               t0.name
        from ams_instructor t0
        ORDER BY t0.name
    </select>

    <!-- 查询指定的实体,只提取ID 和 Name -->
    <select id="findInstructorsWithIdNameById" resultType="com.mt.ams.entity.instructorEntity.Instructor"
            parameterType="java.lang.Long">
        select t0.eid,
               t0.name
        from ams_instructor t0
        where eid = #{instructorId}
    </select>

    <!--  根据Id查询 -->
    <select id="findInstructor" resultType="com.mt.ams.entity.instructorEntity.Instructor"
            parameterType="java.lang.Long">
        select *
        from ams_instructor
        where eid = #{instructorId}
    </select>

    <!-- 根据ID查询指定的实体(包含外键) -->
    <select id="findInstructorWithForeignName" resultType="com.mt.ams.entity.instructorEntity.Instructor"
            parameterType="java.lang.Long">
        select t0.eid,
               t0.creator_name,
               t0.name,
               t0.display_index,
               t0.teacher_id,
               t0.award_id,
               t0.status,
               t0.creator_id,
               t0.remark,
               t0.create_datetime
                ,
               t4.name as teacher_name
                ,
               t5.name as award_name

        from ams_instructor t0
                 LEFT JOIN ams_teacher_info t4 on t0.teacher_id = t4.eid
                 LEFT JOIN ams_award t5 on t0.award_id = t5.eid
        where t0.eid = #{instructorId}
    </select>


    <!--  保存 -->
    <insert id="saveInstructor" parameterType="com.mt.ams.entity.instructorEntity.Instructor" useGeneratedKeys="true">
        <selectKey keyProperty="eid" order="AFTER" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        insert into ams_instructor
        (
        creator_name ,
        name ,
        display_index ,
        teacher_id ,
        award_id ,
        status ,
        creator_id ,
        remark ,
        create_datetime
        )
        values
        (
        #{creatorName} ,
        #{name} ,
        #{displayIndex} ,
        #{teacherId} ,
        #{awardId} ,
        #{status} ,
        #{creatorId} ,
        #{remark} ,
        #{createDatetime}
        )
    </insert>

    <!--  编辑 -->
    <update id="updateInstructor" parameterType="com.mt.ams.entity.instructorEntity.Instructor">
        update ams_instructor
        set creator_name    = #{creatorName},
            name            = #{name},
            display_index   = #{displayIndex},
            teacher_id      = #{teacherId},
            award_id        = #{awardId},
            status          = #{status},
            creator_id      = #{creatorId},
            remark          = #{remark},
            create_datetime = #{createDatetime}
        where eid = #{eid}
    </update>


    <!--  根据Id删除 -->
    <delete id="deleteInstructor" parameterType="java.lang.Long">
        delete
        from ams_instructor
        where eid = #{instructorId}
    </delete>

    <!--  根据awardId删除 -->
    <delete id="deleteInstructorByAwardId" parameterType="java.lang.Long">
        delete
        from ams_instructor
        where award_id = #{awardId}
    </delete>

    <!--  根据AwardId查询 -->
    <select id="findInstructorByAwardId" resultType="com.mt.ams.entity.instructorEntity.Instructor"
            parameterType="java.lang.Long">
        select t0.teacher_id,
               t0.display_index
        from ams_instructor t0
        where t0.award_id = #{AwardId}
    </select>


</mapper>
