#set($vmType="index")
#set($extension=".vue")
#set($EntityNameUp="${entityClass.className}")
#set($EntityNameLow="${entityClass.className.substring(0,1).toLowerCase()}${entityClass.className.substring(1)}")
#set($ModuleNameLow="${entityClass.moduleName.substring(0,1).toLowerCase()}${entityClass.moduleName.substring(1)}")
#set($path="${config.uiPath}/src/views/${entityClass.subSystemName}/${entityClass.moduleName}")
#set($outputFile="${path}/${EntityNameUp}/${vmType}${extension}")
#set($permission="${entityClass.subSystemName}_${entityClass.moduleName}_${EntityNameUp}")
<template>
    <div class="span-control-list" style="width: 100%;margin-left: 0!important;">
        <el-card class="box-card set-organ" style="margin: 0px; width: 100%; min-height: 99%">
            <div class="clearfix card-my-header">
                <span>${entityClass.label}管理</span>
            </div>
            <el-row>
                <div class="alert-container clearfix">
                    <el-alert  v-for="alert in alerts.successes"  :key="alert.title"
                               v-bind:title="alert.title"
                               type="success"
                               show-icon>
                    </el-alert>
                    <el-alert  v-for="alert in alerts.infos"  :key="alert.title"
                               v-bind:title="alert.title"
                               type="info"
                               show-icon >
                    </el-alert>
                    <el-alert  v-for="alert in alerts.warnings"  :key="alert.title"
                               v-bind:title="alert.title"
                               type="warning"
                               show-icon >
                    </el-alert>
                    <el-alert  v-for="alert in alerts.errors"  :key="alert.title"
                               v-bind:title="alert.title"
                               type="error"
                               show-icon >
                    </el-alert>
                </div>
            </el-row>
            <el-row>
                <!--数据表格-->
                <el-col>
                    <!--新增任务按钮-->
                    <down-search :table="$refs.table" @returnedValue="searchByCondition"></down-search>
                    <div style="float: right; margin-bottom: 15px">

                        <el-button  type="primary" @click="add${EntityNameUp}()"  v-permission:${permission}_Add >新增${entityClass.label}</el-button>
                    </div>
                    <div class="table-control">
                        <el-table ref="table" v-loading="tableLoading" size="small" class="table-style" :data="${EntityNameLow}s" border highlight-current-row @current-change="handleCurrentChange">

                            <el-table-column show-overflow-tooltip align="left" prop="name" label="${entityClass.label}名称" min-width="100" fixed="left"  resizable show-overflow-tooltip>
                                <template slot-scope="scope">
                                        <p v-on:click="display${EntityNameUp}(${EntityNameLow}s[scope.$index].eid)"
                                           style="text-decoration: underline">
                                            {{ ${EntityNameLow}s[scope.$index].name }}
                                        </p>
                                </template>
                            </el-table-column>
                            #foreach($columnInfo in $entityClass.columnInfos)
                            #if( !$stringUtils.endsWith($columnInfo.fieldName,'Id') && $columnInfo.pageShow != false)
                                    <el-table-column align="left" clalss="setCenter" prop="${columnInfo.fieldName}" label="${columnInfo.label}" min-width="80" sortable resizable show-overflow-tooltip></el-table-column>
                            #end
                            #end

                            <el-table-column label="操作" min-width="120" resizable>
                                <template slot-scope="scope">
                                    <template>
                                        <el-button @click="edit${EntityNameUp}(${EntityNameLow}s[scope.$index].eid)" type="text" size="small" v-permission:${permission}_Edit >编辑</el-button>
                                    </template>
                                    <template>
                                        <el-button @click="delete${EntityNameUp}(${EntityNameLow}s[scope.$index].eid)" type="text" size="small" v-permission:${permission}_Delete ><p
                                                style="color: red !important;">删除</p></el-button>
                                    </template>
                                </template>
                            </el-table-column>
                        </el-table>

                        <!--分页功能-->
                        <div class="block">
                            <el-pagination
                                    class="page-style" @size-change="changeSize" @current-change="changePage"
                                    background
                                    :current-page="currentPage"
                                    :page-sizes="[10, 15, 20, 25]"
                                    :page-size="pageSize"
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="totalCount">
                            </el-pagination>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </el-card>
    </div>

</template>
<script>
    import {mapState} from 'vuex';
    import {${EntityNameUp}Service} from './${EntityNameUp}Service';
    import downSearch from '@/components/select/downSearch'

    export default {
        components: {downSearch},
        data() {
            return {
                rules: {},
                currentPage: 1,
                pageSize: 10,
                totalCount: 0,
                hightlight: true,
                    ${EntityNameLow}s: [],
                tableLoading: false,
                alerts:{ remarks:[{title:"功能说明",content:"TODO: 请在这里加上功能说明"},],
                    successes:[], //TODO:[{title:'消息内容'},]
                    infos:[],
                    warnings:[],
                    errors:[]},
                condition:{}

            }
        },
        created: function () {
            this.refresh();
        },
        activated:function(){
            if(this.$routerTab.listRefresh)
            {
                this.refresh();
                this.$refs.table.doLayout();
                this.$routerTab.listRefresh = false;
            }
        },
        methods: {
            searchByCondition(value){
                this.condition=value;
                this.find${EntityNameUp}s();
            },
            addAlert(message,title,type){
                //type 可选的值为:remarks,successes,infos,warnings,errors
                type = type? type:"errors";
                type = this.alerts[type]?type:"errors";
                title = title?title:message;
                this.alerts[type].unshift({title:title,content:message});
            },
            removeAlert(title,type){
                //type 可选的值为:remarks,successes,infos,warnings,errors
                type = type? type:"errors";
                type = this.alerts[type]?type:"errors";
                for (var i = this.alerts[type].length-1; i>=0 ; i--) {
                    delete this.alerts[type][i]
                }
            },
            refresh() {
                this.find${EntityNameUp}s();
            },
            installParms() {
                var parms = {
                     currentPage: this.currentPage,
                    pageSize: this.pageSize,
                    columnName:this.condition.columnName,
                    content:this.condition.content
                }
                return parms;
            },
            find${EntityNameUp}s() {
                var parms = this.installParms();
                this.buttonRequestProgressStart("正在搜索,请稍后...");
                    ${EntityNameUp}Service.find${EntityNameUp}s(parms).then((res) => {
                        this.buttonRequestProgressClose();
                    this.${EntityNameLow}s = res.data.datas;
                this.totalCount = res.data.totalCount;
            }).catch((error) => {
                    this.buttonRequestProgressClose();
                    this.$message({
                    type: 'error',
                    message: '网络繁忙，请稍候再试！'
                })
            })
            },
            display${EntityNameUp}(${EntityNameLow}Id){
                var router = this.$router;
                router.push({path: '/${entityClass.subSystemName}/${entityClass.moduleName}/${EntityNameUp}/display/'+${EntityNameLow}Id, query: {}});
            },
            delete${EntityNameUp}(${EntityNameLow}Id) {
                this.$confirm('您确定要删除吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.buttonRequestProgressStart("正在删除,请稍后...");
                        ${EntityNameUp}Service.delete${EntityNameUp}(${EntityNameLow}Id).then((res) =>{
                            this.buttonRequestProgressClose();
                    this.$message({
                    type: 'success',
                    message: '删除成功！'
                })
                this.refresh();
            }).catch((error) => {
                    this.buttonRequestProgressClose();
                //error的data属性是后台传入的数据,data的extendedData存有后台传入的数据
                this.isSubmiting = false;
                this.addAlert({title:error.data.message})
                this.$message({
                    type: 'error',
                    message: '删除失败，,原因是：'+error.data.message
                })

            })
            }).catch(() => {
                    this.$message({
                    type: 'info',
                    message: '已取消删除'
                })
            })
            },
            changeSize(val) {
                this.pageSize = val;
                this.find${EntityNameUp}s();
            },
            changePage(val) {
                this.currentPage = val;
                this.find${EntityNameUp}s();
            },
            add${EntityNameUp}(){
                //新增${entityClass.label}
                var router = this.$router;
                router.push({path: '/${entityClass.subSystemName}/${entityClass.moduleName}/${EntityNameUp}/add', query: {}});
            },
            edit${EntityNameUp}(${EntityNameLow}Id){
                //编辑${entityClass.label}
                var router = this.$router;
                router.push({path: '/${entityClass.subSystemName}/${entityClass.moduleName}/${EntityNameUp}/edit/'+${EntityNameLow}Id, query: {}});
            },
            handleCurrentChange(currentRow,oldCurrentRow) {
                //this.currentRow = val;
            },
        }
    }
</script>
<style scoped lang="scss">
</style>
